<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    </style>
</head>
<body>
    <header>
        <!-- Your navbar code goes here -->
        <ul class="navbar">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'user_dashboard' %}">Personal Space</a></li>
            <li><a href="{% url 'explore_lecturespaces' %}">Explore</a></li>
            
            
            {% if user.is_authenticated %}
            <li class="logout"><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
            <li class="logout"><a href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
        </ul>
    </header>

    <main>
        {% block content %}
        <!-- Page specific content will go here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>
