<!DOCTYPE html>
<html>
<head>
    <title>Vue.js App</title>
    <!-- Include Vue.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>Hello there</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, quos. Expedita libero consequuntur quisquam numquam inventore. Maiores nam et reiciendis repudiandae ex, vitae quos facere provident libero deleniti ipsum sed.</p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        });
    </script>
</body>
</html>
